.container {
  .site_name {
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
  }

  .site_sub {
    color: white;
    font-size: 9px;
    font-weight: 300;
    line-height: 100%;
  }
}
