.main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: $header-height;
  padding: 10px 0;
  background: $primary-color;

  .nav {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 100%;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        height: fit-content;

        img {
          min-height: 32px;
          height: 32px;
          width: auto;
        }
      }
    }

    /* Menus container */
    .menus_container {
      display: flex;
      flex-direction: column;

      /* Logo in menu */
      .logo {
        display: none;
      }

      /* Menus */
      .menus {
        display: flex;
        align-items: center;
        gap: 16px;

        /* Menu container */
        .menu_container {
          position: relative;

          .menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;

            min-height: 32px;
            color: white;
            cursor: pointer;

            .menu_title {
              color: currentColor;
              transition: all 0.2s ease;
            }

            svg {
              transition: all 0.2s ease;
              margin-top: 4px;

              path {
                transition: all 0.2s ease;
              }
            }

            /* Active menu */
            &.is_active {
              font-weight: 700;
            }
          }

          .sub_menus_container {
            position: absolute;
            z-index: 1;

            width: 100%;
            min-width: 200px;
            height: 0px;

            border-radius: 4px;
            background: white;

            overflow: hidden;
            transition: all 0.2s ease;
            box-shadow:
              rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
              rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

            /* Sub menus */
            .sub_menus {
              display: flex;
              flex-direction: column;
              gap: 4px;

              height: fit-content;
              padding: 4px;

              .sub_menu {
                display: flex;
                flex-direction: column;
                gap: 4px;

                .sub_menu_title {
                  position: relative;
                  z-index: 1;

                  min-height: 30px;
                  border-radius: 4px;
                  padding: 10px 16px;
                  background: white;

                  color: $gray-color;
                  transition:
                    background 0.2s ease,
                    color 0.2s ease,
                    font-weight 0.2s ease;

                  /* Hover sub menu title */
                  &:hover {
                    background: $primary-color-3;
                  }
                }

                /* Active sub menu */
                &.is_active {
                  .sub_menu_title {
                    background: $primary-color-3;
                    font-weight: 600;
                    color: $primary-color;
                  }
                }
              }
            }
          }

          /* Hover menu item */
          @include responsive($breakpoint-md) {
            &:hover {
              .menu {
                svg {
                  transform: scaleY(-1);
                }
              }
            }
          }

          /* Is show sub menus container */
          &.is_show_sub_menus {
            .menu {
              svg {
                transform: scaleY(-1);
              }
            }
          }
        }

        /* Contact button in menus */
        .contact_button {
          display: none;
        }
      }
    }

    .contact_button {
      &:hover {
        button {
          border-color: white;
        }
      }
    }

    /* Toggle button */
    .toggle_button {
      display: none;
    }
  }

  .shadow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.8;
  }

  @include responsive($breakpoint-md) {
    .nav {
      position: relative;

      .menus_container {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 101;

        flex-direction: column;
        justify-content: flex-start;

        width: 300px;
        max-width: 100%;
        height: 100%;

        background: $primary-color;
        transform: translateX(100%);
        transition: all 0.5s ease;

        /* Logo in menu */
        .logo {
          justify-content: flex-start;
          display: flex;

          width: 100%;
          height: $header-height;
          padding: 0px 16px;
        }

        /* Menus */
        .menus {
          flex-direction: column;
          align-items: unset;
          gap: 4px;
          padding: 8px 16px;

          .menu_container {
            .menu {
              min-height: 40px;
              padding: 8px 0;
            }

            .sub_menus_container {
              position: relative;
              min-width: unset;

              .sub_menus {
                height: fit-content;
              }
            }
          }

          /* Contact button in menus */
          .contact_button {
            margin-top: 24px;
            display: block;

            button {
              width: 100%;
            }
          }
        }
      }

      .contact_button {
        display: none;
      }

      /* Toggle button */
      .toggle_button {
        $toggleButtonWidth: 22px;
        $toggleButtonHeight: 16px;

        position: fixed;
        top: calc(($header-height - $toggleButtonHeight) / 2);
        right: 16px;
        z-index: 102;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: $toggleButtonWidth;
        height: $toggleButtonHeight;
        cursor: pointer;

        .toggle_button_line {
          width: 100%;
          height: 2px;
          border-radius: 2px;
          background: white;
          transition: all 0.2s ease;
        }
      }
    }

    /* Is show menu */
    &.is_show_menu {
      .nav {
        /* Menus container when show menu */
        .menus_container {
          transform: translateX(0);
        }

        /* Toggle button when show menu */
        .toggle_button {
          .toggle_button_line {
            &.line_1 {
              transform: rotate(-41deg) translateY(335%) translateX(-15%);
            }

            &.line_2 {
              opacity: 0;
            }

            &.line_3 {
              transform: rotate(41deg) translateY(-310%) translateX(-15%);
            }
          }
        }
      }
    }
  }
}

body:has(.shadow) {
  overflow: hidden;
}
