*,
::before,
::after {
  box-sizing: border-box;
  outline: unset;
  font-family: $font-family;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 14px;
}

a {
  text-decoration: unset;
  background: unset;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background: $gray-color-2;
}

::-webkit-scrollbar-thumb {
  background: $gray-color-3;
}

@import './button.scss';
@import './container.scss';
