:export {
  headerHeight: $headerHeight;
  fontFamily: $fontFamily;

  /* Colors */
  primaryColor: $primaryColor;
  primaryColor: $primaryColor2;
  primaryColor: $primaryColor3;

  grayColor: $grayColor;
  grayColor: $grayColor2;
  grayColor: $grayColor3;
}
