:export {
  headerHeight: $header-height;
  fontFamily: $font-family;

  /* Colors */
  primaryColor: $primary-color;
  primaryColor2: $primary-color-2;
  primaryColor3: $primary-color-3;

  grayColor: $gray-color;
  grayColor2: $gray-color-2;
  grayColor3: $gray-color-3;
}
