$headerHeight: 60px;
$fontFamily: 'Inter', sans-serif;

/* Colors */
$primaryColor: #1e96ff;
$primaryColor2: #40a1ff;
$primaryColor3: #f0f8ff;

$grayColor: #303030;
$grayColor2: #f4f4f4;
$grayColor3: #e4e4e4;
