$header-height: 60px;
$font-family: 'Inter', sans-serif;

/* Colors */
$primary-color: #1e96ff;
$primary-color-2: #40a1ff;
$primary-color-3: #f0f8ff;

$gray-color: #303030;
$gray-color-2: #f4f4f4;
$gray-color-3: #e4e4e4;

/* Breakpoints */
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
